:root {
  --Pale-blue: hsl(225, 100%, 94%);
  --Bright-blue: hsl(245, 75%, 52%);
  --blue: hsla(245, 75%, 53%, 0.308);

  --Very-pale-blue: hsl(225, 100%, 98%);
  --Desaturated-blue: hsl(224, 23%, 55%);
  --Dark-blue: hsl(223, 47%, 23%);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: var(--Pale-blue) url("../images/pattern-background-mobile.svg")
    no-repeat;
  background-size: contain;
  font-family: "Red Hat Display", sans-serif;
  font-size: 16px;
}

img {
  inline-size: 100%;
}

h2 {
  font-size: 25px;
  font-weight: 900;
  line-height: 30px;
}

p {
  color: var(--Desaturated-blue);
  font-weight: 500;
  line-height: 30px;
  margin-block-end: 20px;
}

.section-card {
  margin-block-start: 70px;
}

.wrapper {
  background-color: var(--Very-pale-blue);
  border-radius: 20px;
  box-shadow: 5px 25px 82px -5px rgba(226, 231, 240, 0.94);
  inline-size: 325px;
  margin: auto;
}

.card-image img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.card-content {
  inline-size: 275px;
  margin: auto;
  margin-block-start: 30px;
  text-align: center;
}

.card-title h2 {
  margin-block-end: 20px;
}

.card-price {
  background-color: rgba(0, 0, 0, 0.02);
  border-radius: 10px;
  block-size: 80px;
  margin-block-end: 24px;
  position: relative;
}

.card-price img {
  block-size: 50px;
  inline-size: 50px;
  position: absolute;
  inset-block-start: 15px;
  inset-inline-start: 10px;
}

.card-suscription {
  position: absolute;
  inset-block-start: 16px;
  inset-inline-start: 75px;
}

.card-suscription h4 {
  font-weight: 900;
}

.card-price .card-link {
  position: absolute;
  inset-inline-end: 10px;
  inset-block-start: 30px;
}

.card-link a {
  cursor: pointer;
  font-weight: bold;
}

.card-link a:hover {
  color: hsl(228, 45%, 44%);
}

button {
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: "Red Hat Display", sans-serif;
  font-size: 16px;
  font-weight: 900;
  display: block;
  inline-size: 100%;
}

.card-button {
  margin-block-end: 30px;
}

.button-primary {
  background-color: var(--Bright-blue);
  box-shadow: 0px 18px 8px 3px rgba(79, 98, 184, 0.158);
  /* box-shadow: 0px 10px 13px -7px #000000, 0px 20px 0px 0px rgba(0, 0, 0, 0); */
  color: var(--Very-pale-blue);
  margin-block-end: 10px;
  padding: 20px;
}

.button-primary:hover {
  background-color: hsl(228, 45%, 44%);
}

.button-secundary {
  background-color: transparent;
  color: var(--Desaturated-blue);
  margin-block-end: 30px;
  padding: 20px;
}

.button-secundary:hover {
  color: var(--Dark-blue);
}
/* -----footer----- */
footer {
  margin-inline: 30px;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.attribution a:hover {
  color: blue;
}

/* ----- Desktop ----- */
@media only screen and (min-width: 950px) {
  body {
    background: var(--Pale-blue) url("../images/pattern-background-desktop.svg")
      no-repeat;
    background-size: contain;
  }

  .wrapper {
    inline-size: 450px;
  }

  .card-content {
    inline-size: 355px;
  }

  .attribution {
    font-size: 12px;
  }
}
